{{ define "main" }}
<main aria-role="main">

	{{ partial "title" . }}

  <h2 class="title--answer">Mostly...</h2>

  <section class="section">
    <p class="section__title">OK, but where is my:</p>
    <ul class="section__list">
      <li class="list__item--ok">
        Application launcher:
        <a href="https://github.com/Cloudef/bemenu">bemenu</a>,
        <a href="https://codeberg.org/dnkl/fuzzel">Fuzzel</a>,
        <a href="https://code.rocketnine.space/tslocum/gmenu">gmenu</a>,
        <a href="https://github.com/nwg-piotr/nwg-launchers">nwg-launchers</a>,
        <a href="https://github.com/oknozor/onagre">Onagre</a>,
        <a href="https://github.com/lbonn/rofi">Rofi (lbonn's fork)</a>,
        <a href="https://ulauncher.io">Ulauncher</a>,
        <a href="https://sr.ht/~adnano/wmenu/">wmenu</a>,
        <a href="https://hg.sr.ht/~scoopta/wofi">Wofi</a>,
        <a href="https://github.com/l4l/yofi">yofi</a>
      </li>
      <li class="list__item--ok">
        Clipboard manager:
        <a href="https://github.com/sentriz/cliphist">cliphist</a>,
        <a href="https://github.com/yory8/clipman">Clipman</a>,
        <a href="https://github.com/bugaevc/wl-clipboard">wl-clipboard</a>
      </li>
      <li class="list__item--ok">
        Color picker:
        <a href="https://github.com/nwg-piotr/azote">Azote</a>,
        <a href="https://gitlab.gnome.org/World/gcolor3">gcolor3</a>,
        <a href="https://github.com/emersion/grim">grim</a>,
        <a href="https://github.com/hyprwm/hyprpicker">hyprpicker</a>
      </li>
      <li class="list__item--ok">
        Compiz support:
        <a href="https://github.com/WayfireWM/wayfire">Wayfire</a>
      </li>
      <li class="list__item--ok">
        Desktop environment:
        <a href="https://www.enlightenment.org">Enlightenment (experimental)</a>,
        <a href="https://www.gnome.org/">GNOME</a>,
        <a href="https://kde.org/plasma-desktop">KDE Plasma</a>,
        <a href="https://mate-desktop.org">MATE Desktop (partial)</a>
      </li>
      <li class="list__item--ok">
        Dock:
        <a href="https://sr.ht/~leon_plickat/LavaLauncher/">LavaLauncher</a>,
        <a href="https://github.com/nwg-piotr/nwg-dock">nwg-dock</a>
      </li>
      <li class="list__item--ok">
        Document viewer:
        <a href="https://git.pwmt.org/pwmt/zathura">zathura</a>
      </li>
      <li class="list__item--ok">
        Email client (GUI):
        <a href="https://help.gnome.org/users/evolution/stable/">Evolution</a>,
        <a href="https://www.thunderbird.net/en-US/">Thunderbird</a>
      </li>
      <li class="list__item--ok">
        File manager:
        <a href="https://github.com/linuxmint/nemo">Nemo</a>
      </li>
      <li class="list__item--ok">
        Gamma & day/night adjustment tool:
        <a href="https://gitlab.com/chinstrap/gammastep">Gammastep</a>,
        <a href="https://sr.ht/~kennylevinsen/wlsunset/">wlsunset</a>
      </li>
      <li class="list__item--ok">
        Image editor:
        <a href="https://gimp.org/">GIMP</a>,
        <a href="https://inkscape.org/">Inkscape</a>,
        <a href="https://krita.org/">Krita</a>
      </li>
      <li class="list__item--ok">
        Image viewer:
        <a href="https://sr.ht/~exec64/imv/">imv</a>,
        <a href="https://nomacs.org/">nomacs</a>,
        <a href="https://github.com/artemsen/swayimg">swayimg</a>
      </li>
      <li class="list__item--ok">
        Keyboard remapper:
        <a href="https://github.com/snyball/Hawck">Hawck</a>,
        <a href="https://github.com/sezanzeb/input-remapper">input-remapper</a>,
        <a href="https://gitlab.com/interception/linux/tools">Interception Tools</a>,
        <a href="https://github.com/samvel1024/kbct">kbct</a>,
        <a href="https://github.com/rvaiya/keyd">keyd</a>,
        <a href="https://github.com/kmonad/kmonad">KMonad</a>,
        <a href="https://github.com/k0kubun/xremap">xremap</a>
      </li>
      <li class="list__item--ok">
        Login manager:
        <a href="https://sr.ht/~kennylevinsen/greetd/">greetd</a>,
        <a href="https://github.com/max-moser/lightdm-elephant-greeter">LightDM Elephant Greeter</a>,
        <a href="https://gitlab.com/marcusbritanicus/QtGreet">QtGreet</a>
      </li>
      <li class="list__item--ok">
        Network transparency:
        <a href="https://gitlab.freedesktop.org/mstoeckl/waypipe">Waypipe</a>
      </li>
      <li class="list__item--ok">
        Notification daemon:
        <a href="https://dunst-project.org">Dunst</a>,
        <a href="https://codeberg.org/dnkl/fnott">Fnott</a>,
        <a href="https://github.com/emersion/mako">mako</a>,
        <a href="https://github.com/ErikReider/SwayNotificationCenter">SwayNotificationCenter</a>
      </li>
      <li class="list__item--ok">
        Output/display configuration tool:
        <a href="https://sr.ht/~emersion/kanshi">kanshi</a>,
        <a href="https://github.com/nwg-piotr/nwg-displays">nwg-displays</a>,
        <a href="https://github.com/xyproto/wallutils">Wallutils</a>,
        <a href="https://github.com/artizirk/wdisplays">wdisplays</a>,
        <a href="https://sr.ht/~leon_plickat/wlopm">wlopm</a>,
        <a href="https://sr.ht/~emersion/wlr-randr">wlr-randr</a>
      </li>
      <li class="list__item--ok">
        Power menu:
        <a href="https://github.com/ArtsyMacaw/wlogout">wlogout</a>
      </li>
      <li class="list__item--ok">
        Remote desktop utility:
        <a href="https://www.freerdp.com/">FreeRDP</a>,
        <a href="https://github.com/any1/wayvnc">wayvnc</a>
      </li>
      <li class="list__item--ok">
        Screen lock tool:
        <a href="https://github.com/jovanlanik/gtklock">gtklock</a>,
        <a href="https://github.com/swaywm/swaylock">swaylock</a>,
        <a href="https://github.com/ifreund/waylock">Waylock</a>
      </li>
      <li class="list__item--ok">
        Screen recording tool:
        <a href="https://github.com/xlmnxp/blue-recorder">Blue Recorder</a>,
        <a href="https://github.com/SeaDve/Kooha">Kooha</a>,
        <a href="https://obsproject.com">OBS Studio</a>,
        <a href="https://github.com/ammen99/wf-recorder">wf-recorder</a>
      </li>
      <li class="list__item--ok">
        Screen sharing:
        <a href="https://github.com/emersion/xdg-desktop-portal-wlr">xdg-desktop-portal-wlr</a>
      </li>
      <li class="list__item--ok">
        Screenshot tool:
        <a href="https://flameshot.org/">Flameshot</a>,
        <a href="https://github.com/emersion/grim">grim</a>/<a href="https://github.com/emersion/slurp">slurp</a>,
        <a href="https://gitlab.com/WhyNotHugo/shotman">Shotman</a>,
        <a href="https://github.com/jtheoof/swappy">swappy</a>
      </li>
      <li class="list__item--ok">
        Stacking compositor:
        <a href="https://hikari.acmelabs.space">hikari</a>,
        <a href="https://github.com/johanmalm/labwc">Labwc</a>,
        <a href="https://github.com/lirios/shell">Liri shell</a>
      </li>
      <li class="list__item--ok">
        Status bar:
        <a href="https://github.com/hcsubser/hybridbar">Hybridbar</a>,
        <a href="https://github.com/nwg-piotr/nwg-panel">nwg-panel</a>,
        <a href="https://github.com/Alexays/Waybar">Waybar</a>,
        <a href="https://gitlab.com/dnkl/yambar">Yambar</a>
      </li>
      <li class="list__item--ok">
        System monitoring widget:
        <a href="https://sr.ht/~kennylevinsen/wldash/">wldash</a>
      </li>
      <li class="list__item--ok">
        Terminal:
        <a href="https://github.com/alacritty/alacritty">Alacritty</a>,
        <a href="https://codeberg.org/dnkl/foot/">foot</a>,
        <a href="https://github.com/Keruspe/Germinal">Germinal</a>,
        <a href="https://sw.kovidgoyal.net/kitty/">kitty</a>,
        <a href="https://github.com/realh/roxterm">ROXTerm</a>,
        <a href="https://launchpad.net/sakura">Sakura</a>,
        <a href="https://terminator-gtk3.readthedocs.io/en/latest/">Terminator</a>,
        <a href="https://gnunn1.github.io/tilix-web/">Tilix</a>,
        <a href="https://wezfurlong.org/wezterm/">WezTerm</a>
      </li>
      <li class="list__item--ok">
        Tiling compositor:
        <a href="https://github.com/djpohly/dwl">dwl</a>,
        <a href="https://github.com/hyprwm/Hyprland">Hyprland</a>,
        <a href="https://www.qtile.org">Qtile</a>,
        <a href="https://github.com/ifreund/river">river</a>,
        <a href="https://github.com/swaywm/sway">Sway</a>,
        <a href="https://github.com/michaelforney/velox">velox</a>,
        <a href="https://github.com/inclement/vivarium">vivarium</a>
      </li>
      <li class="list__item--ok">
        User input simulating tool:
        <a href="https://github.com/atx/wtype">wtype</a>,
        <a href="https://github.com/ReimuNotMoe/ydotool">ydotool</a>
      </li>
      <li class="list__item--ok">
        Video player:
        <a href="https://github.com/Rafostar/clapper">Clapper</a>,
        <a href="https://mpv.io">mpv</a>
      </li>
      <li class="list__item--ok">
        Wallpaper manager:
        <a href="https://github.com/nwg-piotr/azote">Azote</a>,
        <a href="https://github.com/hyprwm/hyprpaper">hyprpaper</a>,
        <a href="https://github.com/GhostNaN/mpvpaper">MPVPaper</a>,
        <a href="https://github.com/vilhalmer/oguri">oguri</a>,
        <a href="https://github.com/swaywm/swaybg">swaybg</a>,
        <a href="https://github.com/xyproto/wallutils">Wallutils</a>,
        <a href="https://github.com/danyspin97/wpaperd">wpaperd</a>
      </li>
      <li class="list__item--ok">
        Web browser:
        <a href="https://www.chromium.org/">Chromium</a>,
        <a href="https://www.mozilla.org/firefox/">Firefox</a>,
        <a href="https://nyxt.atlas.engineer">Nyxt</a>,
        <a href="https://www.opera.com/">Opera</a>,
        <a href="https://qutebrowser.org/">qutebrowser</a>
      </li>
    </ul>
  </section>

  <section class="section">
    <p class="section__title">Missing:</p>
    <ul class="section__list">
      <li class="list__item--ko">
        Color management and HDR:
        <a href="https://gitlab.freedesktop.org/wayland/wayland-protocols/-/merge_requests/14">Protocol in development</a>
      </li>
      <li class="list__item--ko">
        Temporary global hotkeys and PTT:
        <a href="https://github.com/flatpak/xdg-desktop-portal/issues/624">No official plan yet</a>
      </li>
    </ul>
  </section>

  <section class="section">
    <p class="section__title">
      That's great, but you did not mention
      <span class="accent--nvidia">nvidia</span>...
    </p>
    <ul class="section__list">
      <li class="list__item--kinda">
        With limitations/caveats it runs, on
        <a href="https://wiki.gnome.org/Initiatives/Wayland/NVIDIA">GNOME</a>
      </li>
      <li class="list__item--kinda">
        With limitations/caveats it runs, on
        <a href="https://community.kde.org/Plasma/Wayland/Nvidia">KDE</a>
      </li>
      <li class="list__item--kinda">
        When using the nouveau driver, it runs on
        <a href="https://github.com/swaywm/sway">Sway</a>/<a href="https://gitlab.freedesktop.org/wlroots/wlroots">wlroots</a>
      </li>
    </ul>
  </section>
</main>
{{ end }}
