html {
  --palette-black: #222222;
  --palette-gray: #666666;
  --palette-green: #4caf50;
  --palette-nvidia: #76b900; /* official color */
  --palette-red: #f44336;
  --palette-wayland: #ffbc00; /* official color */
  --palette-white: #fafafa;

  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--palette-black);
  background: var(--palette-white);
}

h1 {
  margin-top: 6rem;
  font-size: 3rem;
  color: var(--palette-gray);
}

h2 {
  margin: 4rem 0;
  font-size: 7rem;
}

a {
  color: var(--palette-gray);
}

small {
  font-size: 0.6rem;
}

.wayland {
  text-decoration: none;
  color: var(--palette-gray);
}

.wayland:hover {
  color: var(--palette-white);
}

.accent--wayland {
  padding: 0 8px;
  background: var(--palette-wayland);
}

.accent--nvidia {
  padding: 0 8px;
  background: var(--palette-nvidia);
}

.section {
  margin: 0 auto;
  margin-top: 3rem;
}

.section__title {
  font-size: 1.4rem;
  font-weight: bolder;
}

.section__list {
  margin-top: 2rem;
  padding: 0;
  font-size: 1.1rem;
  text-align: left;
  list-style-type: none;
}

:root {
  --width: 12px;
}

.list__item--kinda,
.list__item--ok,
.list__item--ko {
  position: relative;
  margin: 0.75rem 0;
  padding-left: 20px;
}

.list__item--kinda:before,
.list__item--ok:before {
  position: absolute;
  display: inline-block;
  left: 0.25rem;
  height: 8px;
  width: 4px;
  top: 4px;
  transform: rotate(45deg);
  content: " ";
  border-bottom: 3px solid var(--palette-green);
  border-right: 3px solid var(--palette-green);
}

.list__item--ko:before,
.list__item--ko:after {
  position: absolute;
  left: 0.4rem;
  top: 4px;
  height: 12px;
  width: 3px;
  content: " ";
  background: var(--palette-red);
}

.list__item--ko:before {
  transform: rotate(45deg);
}

.list__item--ko:after {
  transform: rotate(-45deg);
}

.list__item--kinda:before {
  border-color: var(--palette-gray);
}

.notes {
  margin-top: 3rem;
  padding: 1rem 0;
  padding-top: 2rem;
  line-height: 1.5;
  border-top: 1px solid var(--palette-black);
  font-size: 0.9rem;
}

.notes__date {
  color: var(--palette-gray);
}

@media (max-width: 812px) {
  h1 {
    margin-top: 4rem;
  }

  h2 {
    margin: 3rem 0;
    font-size: 5rem;
  }
}
